body {
  padding: 72px 0 60px 0;
}

.h-max-content {
  height: max-content;
}

.disabled {
    cursor: not-allowed;
}

.input-validation-error {
    @extend .is-invalid;
}

.field-validation-error {
    @extend .invalid-feedback;
}

//Fix off by 2.5 pixels icons inside buttons
.btn > i.bi {
    align-self: center;
    margin-bottom: -2.5px;
}